


.fondo-rosa {
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: #FF9999;
	 
}


h3 {
  color: #FF9999;
}

h2 {
	color: pink;
}



.nav-link {
	color: white;
}


.audio{
	color: pink;
}